# Configurações do Sistema de Monitoramento Ambiental
# Copie este arquivo para .env e preencha com seus valores reais

GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/SEU_FORM_ID/viewform
SPREADSHEET_ID=seu_spreadsheet_id
ENTRY_ID_EQUIPMENT=seu_entry_id
ENTRY_ID_DATE=seu_entry_id
ENTRY_ID_TIME=seu_entry_id
RESPONSIBLE_NAME=Seu Nome
RESPONSIBLE_ROLE=Seu Cargo
RESPONSIBLE_EMAIL=seu@email.com
COMPANY_NAME=Sua Empresa Ltda.
SIGNATURE_FILE_ID=seu_file_id_no_drive
WEBAPP_URL=https://script.google.com/macros/s/SEU_ID/exec
WHATSAPP_NUMBER=5511999999999
CALLMEBOT_API_KEY=sua_api_key
