FORM_URL=YOUR_GOOGLE_FORM_URL
PLANILHA_ID=YOUR_SPREADSHEET_ID
ASSINATURA_ID=YOUR_SIGNATURE_FILE_ID
URL_APROVACAO=YOUR_WEBAPP_URL_APROVACAO
URL_VERIFICACAO=YOUR_WEBAPP_URL_VERIFICACAO
ENTRY_ID=YOUR_ENTRY_ID_EQUIPMENT
ENTRY_DATA=YOUR_ENTRY_ID_DATE
ENTRY_HORA=YOUR_ENTRY_ID_TIME
RESPONSAVEL_NOME=YOUR_NAME
RESPONSAVEL_CARGO=YOUR_ROLE
RESPONSAVEL_EMAIL=YOUR_EMAIL
EMPRESA=YOUR_COMPANY_NAME
WHATSAPP_NUMERO=YOUR_WHATSAPP_NUMBER
WHATSAPP_API_KEY=YOUR_CALLMEBOT_API_KEY
